@font-face {
  font-family: 'Entypo';
  font-weight: 400;
  src: url(/images/font/fontello.ttf);
}
icon {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0;
  font-family: Entypo;
  font-weight: 400;
  font-size: 1.3em;
  color: #000;
  line-height: 1em;
  vertical-align: text-top;
  cursor: default;
}
a icon {
  cursor: pointer;
}
.clearMe {
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
}
.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.clear {
  display: inline-block;
}
/* hide IE mac \*/
* html .clear {
  height: 1%;
}
.clear {
  display: block;
}
/* */
html {
  overflow-y: scroll;
  overflow-x: auto;
  font-size: 1px;
}
body {
  margin: 0;
  padding: 0;
  font-family: arial;
  font-size: 10rem;
  color: #222;
  background: #f3f3f3;
}
header {
  position: fixed;
  z-index: 5;
  top: 0;
  width: 100%;
  height: 38rem;
  padding: 2rem 0;
  background: rgba(20, 20, 20, 0.97);
  box-shadow: 0 0 6rem 0 #0c1d0e;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
header,
header a,
header icon {
  color: #fff;
}
header .gutter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 960rem;
  margin: 0 auto;
}
header a {
  text-decoration: none;
}
header h1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 0 12rem;
}
header ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-basis: 90%;
      -ms-flex-preferred-size: 90%;
          flex-basis: 90%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
}
header ul li a {
  display: block;
  padding: 12rem;
  font-size: 12rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  opacity: 0.85;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
header ul li a:hover {
  opacity: 1;
}
@media only screen and (max-width: 640px) {
  header {
    height: 71.6rem;
  }
  header .gutter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  header h1 {
    padding: 6rem 0 0 6rem;
  }
  header ul {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    margin-right: 6rem;
  }
  header ul li a {
    padding: 8rem;
  }
  header ul li:nth-last-child(1),
  header ul li:nth-last-child(2) {
    display: none;
  }
}
body.home header:not(.scrolled) {
  background-color: rgba(20, 20, 20, 0);
  box-shadow: none;
}
body.home #container {
  padding-top: 0;
}
#container {
  padding-top: 42rem;
}
@media only screen and (max-width: 640px) {
  #container {
    padding-top: 75.6rem;
  }
}
footer {
  min-height: 42rem;
  padding: 16rem 0;
  font-size: 14rem;
  line-height: 20rem;
  color: #fff;
  background: #111;
}
footer .gutter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 800px;
  margin: 0 auto;
}
footer a {
  color: #79a758;
  text-decoration: none;
}
footer div {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  padding: 0 12rem;
}
footer div p {
  padding: 0 0 12rem 0;
}
footer div ul {
  list-style: none;
  margin: 0 0 12rem 0;
}
footer div ul li {
  display: inline-block;
  margin: 0 6rem 0 0;
}
footer div ul li icon {
  color: #79a758;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
footer div ul li a:hover icon {
  opacity: 1;
}
footer div small {
  display: block;
  font-size: 11rem;
  color: #ddd;
}
footer ul.nav {
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  padding: 0 12rem;
}
footer ul.nav li {
  display: block;
}
a {
  color: #337b00;
  outline: none;
  text-decoration: underline;
}
.page-content {
  max-width: 780rem;
  min-height: 75vh;
  margin: 0 auto;
  padding: 40rem 10rem;
  font-family: 'roboto condensed';
  font-size: 16rem;
  line-height: 1.6em;
}
.page-content h1 {
  margin: 0 0 20rem 0;
  font-size: 32rem;
  line-height: 1.1em;
}
.page-content h2 {
  margin: 0 0 16rem 0;
  font-size: 28rem;
  line-height: 1.1em;
}
.page-content h3 {
  margin: 0 0 16rem 0;
  font-size: 20rem;
  line-height: 1.1em;
}
.page-content h4 {
  margin: 0 0 16rem 0;
  font-size: 18rem;
  line-height: 1.1em;
}
.page-content p {
  margin: 0 0 16rem 0;
}
.page-content p + h1 {
  margin-top: 32rem;
}
.page-content em {
  color: #A5700D;
}
.page-content pre {
  margin-bottom: 16rem;
}
.page-content ul,
.page-content ol {
  margin: 0 0 16rem 32rem;
}
ul.download {
  margin: 0;
  padding: 0;
  list-style: none;
}
ul.download.hide {
  display: none;
}
ul.download li {
  display: block;
  float: left;
  margin: 0 12rem 12rem 0;
}
ul.download li a,
ul.download li span {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 12rem;
  font-size: 16rem;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3rem;
}
ul.download li small {
  display: block;
  margin: 0 0 0 4rem;
}
ul.download li.all a {
  height: 32px;
  background: none;
}
ul.download li:nth-child(4) {
  clear: both;
}
ul.download li.hide {
  display: none;
}
.button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6rem 12rem;
  font-size: 16rem;
  color: #fff;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 3rem;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18rem;
  background: #79a758;
}
.button a {
  color: #fff;
  text-decoration: none;
}
pre,
code {
  color: #000;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  background: #ded;
  border-radius: 3rem;
}
code {
  margin: 0 2rem;
  padding: 0 5rem;
  white-space: nowrap;
}
pre {
  padding: 2rem 8rem;
  overflow-x: auto;
  background: #ded;
}
pre code {
  margin: 0;
  padding: 0;
  color: #000;
  white-space: pre;
  background: none;
}
em code,
strong code {
  font-style: normal;
  font-weight: normal;
}
.splash {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 0 0;
  overflow: hidden;
  color: #fff;
  background: url(/images/home/overlook.jpg) no-repeat;
  background-attachment: fixed;
  background-position: 16% 50%;
  background-size: cover;
}
.splash .app {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 42rem 0 32rem 0;
}
.splash .app .img {
  box-sizing: border-box;
  width: 100%;
  padding-top: 90vh;
  max-width: 322px;
  max-height: 502px;
  margin: 0 24rem;
  background: url(/images/home/app_phone.png) center center no-repeat;
  background-size: contain;
}
.splash .app .img img {
  max-width: 100%;
  height: auto;
}
.splash .app .info {
  -webkit-flex-basis: 40%;
      -ms-flex-preferred-size: 40%;
          flex-basis: 40%;
  font-size: 20rem;
  padding: 0 12rem;
  font-family: 'roboto condensed';
}
.splash .app .info h1 {
  margin: 0 0 24rem 0;
  padding: 0;
  font-size: 36rem;
  font-family: 'roboto condensed';
  letter-spacing: 0.03em;
}
.splash .app .info p {
  margin: 0 0 32rem 0;
  padding: 0;
  line-height: 1.3em;
}
@media only screen and (max-width: 640px) {
  .splash .app {
    padding-top: 84rem;
  }
  .splash .app .img {
    display: none;
  }
  .splash .app .info {
    -webkit-flex-basis: 90%;
        -ms-flex-preferred-size: 90%;
            flex-basis: 90%;
    font-size: 18rem;
  }
  .splash .app .info h1 {
    margin-bottom: 16rem;
    font-size: 30rem;
  }
  .splash .app .info p {
    margin-bottom: 24rem;
  }
  .splash .app .info ul.download li {
    margin: 0 6rem 6rem 0;
  }
  .splash .app .info ul.download li a,
  .splash .app .info ul.download li span {
    font-size: 14rem;
  }
}
.splash .more {
  position: absolute;
  bottom: 12rem;
  left: 50%;
  width: 100rem;
  margin: 0 0 0 -50rem;
  text-align: center;
}
.splash .more icon {
  font-size: 32rem;
  color: #fff;
}
.download-section {
  margin-bottom: 24rem;
}
.pricing {
  text-align: center;
}
.pricing ul.plans {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 32px 0;
  list-style: none;
  text-align: center;
}
.pricing ul.plans li {
  display: inline-block;
  -webkit-flex-basis: 50%;
      -ms-flex-preferred-size: 50%;
          flex-basis: 50%;
  max-width: 208rem;
  margin: 0 2% 32rem 2%;
  padding: 28px 1% 28px 1%;
  text-align: center;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.08);
}
.pricing ul.plans li.emphasize {
  padding-top: 44px;
  padding-bottom: 44px;
}
.pricing ul.plans li h2 {
  margin: 0 0 6px 0;
  font-size: 1.8em;
  color: #666;
}
.pricing ul.plans li em {
  display: block;
  margin: 0 0 32px 0;
  color: #888;
  font-style: normal;
}
.pricing ul.plans li p {
  margin: 0 0 32px 0;
  padding: 0;
  font-size: 1.6em;
}
.pricing ul.plans li p strong {
  font-size: 2.0em;
  font-weight: normal;
}
.pricing ul.plans li .button {
  width: 70%;
  margin: 0 auto;
}
@media only screen and (max-width: 640px) {
  .pricing ul.plans li {
    -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
  }
}
.contact.documentation {
  margin-top: 12px;
}
.contact.mailing {
  margin: 24px 0;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
div.toc {
  float: right;
  width: 25%;
  margin: 8px 0 16px 16px;
  padding: 10px 16px;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.08);
}
div.toc ul {
  color: #999;
  margin-left: 16px;
  margin-bottom: 0;
}
div.toc ul a {
  text-decoration: none;
}
a.toc-anchor {
  position: absolute;
  margin-top: -84rem;
}
.documentation p:first-child {
  display: inline;
  padding: 0;
  margin: 0;
}
.documentation .breadcrumb {
  float: right;
  margin: 8px 0 0 0;
}
.documentation .breadcrumb a {
  margin: 0 3px;
}
.documentation .doc-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  margin: 0 0 16rem 0;
}
.documentation .doc-row .doc-sec {
  -webkit-flex-basis: 41%;
      -ms-flex-preferred-size: 41%;
          flex-basis: 41%;
  min-width: 224rem;
  margin: 0 0 24rem 0;
  padding: 16rem 2.5% 16rem 2.5%;
  background: #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.08);
}
.documentation .doc-row .doc-sec.main {
  float: none;
  width: auto;
  margin: 0 0 16px 0;
}
.documentation .doc-row .doc-sec a {
  text-decoration: none;
}
.documentation .doc-row .doc-sec p {
  font-size: 16rem;
  color: #555;
}
.documentation .doc-row .doc-sec h3 {
  font-size: 20rem;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.documentation .doc-row .doc-sec ul {
  color: #999;
  margin-left: 24rem;
}
.mailing-list {
  padding: 32px 0 32px 0;
  text-align: center;
}
.mailing-list input {
  padding: 6px 8px;
}
.mailing-list input[type=email] {
  margin: 0 3px;
  font-size: 19px;
  color: #555;
}
.mailing-list input[type=submit] {
  margin: 0 3px;
  font-size: 19px;
  color: #777;
}
.mailing-list p {
  margin: 16px 0 0 0;
}
.mailing-list span.note {
  display: inline-block;
  margin: 0 0 0 0;
  font-size: .85em;
  color: #666;
}
