@import '../node_modules/uikit/src/less/uikit.theme.less';

// -----------------------------------------------------------------------------
// vars
// -----------------------------------------------------------------------------
@font-accent: "Noto serif", "Times New Roman", Times, serif;
@theme-background: #ededed;
@font-color: #333;

// -----------------------------------------------------------------------------
// some uikit overrides
// -----------------------------------------------------------------------------
@global-font-family: 'Lato', sans-serif;
@global-primary-background: #83b362;
@breadcrumb-divider-margin-horizontal: 10px;
@base-em-color: inherit;

// -----------------------------------------------------------------------------
// base styles
// -----------------------------------------------------------------------------
html {color: @font-color;}
body {background: @theme-background;}

a, .uk-link {color: @global-primary-background;}

#container {min-height: 500px;}
.main-nav-container {background: #fff; box-shadow: 0 0 12px 1px rgba(0, 0, 0, 0.07);}

nav.main {
	.uk-logo {color: #000; font-size: 32px; font-family: @font-accent;}
	.uk-logo {
		img {max-width: 1.4em; max-height: 1.4em; margin-right: 0.46em;}
		sup {font-size: 12px; transition: transform 0.3s;}
		&:hover sup {transform: translate(0, -3px);}
	}
	ul.uk-navbar-nav {flex-wrap: wrap;}
}

footer {
	ul {list-style: none; margin: 0; padding: 0;}
}

body.home {
	.hero {position: relative; background-image: url(/images/home/notebook.jpg);}
	.hero {
		.overlay {position: absolute; z-index: 0; top: 0; bottom: 0; left: 0; right: 0; background: rgba(0, 0, 0, 0.7);}
		.hero-container {position: relative;}
		.info {
			h1 {font-family: 'Slabo 13px', serif; font-weight: bold; color: #fff;}
			@media only screen and (min-width: @breakpoint-medium) {
				& {padding-left: 60px;}
			}
		}
		.devices {
			img {max-height: 400px;}
		}
	}

	.turtl-cover {
		&:before {content: ' '; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #000;}
		&.turtl-cover-light {
			&:before {background: #fff;}
			.uk-cover {opacity: 0.2;}
		}
		.uk-cover {opacity: 0.3;}
		p {font-size: 1.2em;}
	}

	.more-features {font-size: 1.2em;}
}

.feature-screenshots {
	img {box-shadow: 0 3px 8px 1px rgba(0, 0, 0, 0.2);}
}

.download {
	.uk-button {margin-bottom: 8px; vertical-align: center;}
}

.documentation {
	.uk-breadcrumb {border-left: 3px solid @global-primary-background;}
}

.donate {
	code {max-width: 100%; word-wrap: break-word; white-space: pre-wrap;}
}

// CLA. could prob use uikit but just want to get this out the door
.signature {}
.signature {
	table {}
	table {
		tr.website {position: absolute; right: 2000%;}
		td {
			&:first-child {width: 25%; padding: 0 4px 0 0; font-weight: bold;}
			em {position: absolute; margin: 0 0 0 -10px; display: inline-block; padding: 0 2px; color: red;}
			input[type=text],
			input[type=email],
			select {
				& {margin: 0 0 4px 0; padding: 2px; background: #fff; border: 1px solid #777;}
				&.error-field {border-bottom: 1px solid red;}
			}
		}
	}
	ul.error {margin: 16px 0; padding: 12px; list-style: none; color: #f44; background: #222;}
	ul.error {
		&.hide {display: none;}
	}
}

.announcement {}
.announcement {
	h1 {margin: 0; padding: 0; font-size: 24px;}
	a {display: block; padding: 12px 0; color: #fff; text-align: center; text-decoration: none; background: #8FC46A; transition: background-color 0.3s;}
	a:hover {background-color: darken(#8FC46A, 5%);}
}

credit {display: block; .uk-text-small(); .uk-text-center();}

