---
layout: default
title: "Download Turtl"
permalink: "download/"
---

<h1>Download Turtl v{{site.turtl_version}}</h1>

<div class="download-section">
    <p>
        The desktop and mobile apps give you access to your data from any
        device.
    </p>
    {% include download.html %}
	<p>
		<br>
		<em>Hate the Play store??</em>
		<a href="/releases/mobile/turtl-android-{{site.turtl_version}}.apk">download the .apk directly</a>.
	</p>
</div>

<h2>Bookmarking extensions</h2>

<p>
	The bookmarking extensions put a button in your browser that makes it easy to
	bookmark the current page you're on. This is great for *quickly* saving sites
	to read later or for creating a list of pages you frequently visit.
</p>

<div class="download-page">
{% include extensions.html %}
</div>

