/* --------------------------------------------------------------------------
 * general content styles
 * -------------------------------------------------------------------------- */
section {color: #444; font-size: 1.1em; line-height: 1.7em;}
section em {font-style: italic;}
section strong {font-weight: bold;}
section h1 {margin: 8px 0 16px -6px; padding: 6px 0 0 0; font-size: 24px; color: #555; text-transform: none;}
section h1 small {margin: 0 0 0 10px; font-size: .55em; font-weight: normal; font-style: normal; text-transform: none; letter-spacing: .04em;}
section h2 {margin: 0 0 0.6em 0; font-size: 1.3em;}
section
section h3 {margin: 8px 0 16px 0; padding: 6px 0 0 0; font-size: 17px; text-decoration: underline; color: #555; text-transform: none;}
section ul {margin: 0 0 16px 32px; list-style: disc;}
section ul ul {margin-bottom: 0;}
section ol {margin: 0 0 16px 32px;}
section p {margin: 0 0 16px 0;}
section small {font-size: .8em;}
section code {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #f8f8ff; border-radius: 3px;}
/*section pre code {color: #c9bf9f; white-space: pre; background: none;}*/
section pre {margin: 0 0 16px 0;}
section pre code {white-space: pre;}
section em code, strong code {font-style: normal; font-weight: normal;}
section hr {height: 0; margin: 20px auto; background: none; border: 0; border-bottom: 1px solid #ccc;}

icon {display: inline-block; margin: 0 0 0 0; padding: 0; font-family: Entypo; font-weight: 400; font-size: 1.3em; color: #000; line-height: 1em; vertical-align: text-top;}

/* modalbox stuff */
#modalbox {position: absolute; display: block; z-index: 2000;}
#modalbox.loading {text-align: center;}
#modalbox .modalgutter {display: block; padding: 12px;}
#modalbox .modalgutter .modalcontent {display: block; padding: 16px; overflow: auto; line-height: 0; background: #fff; box-shadow: 0 0 16px 0 #000;}
#modalbox .closelink {position: absolute; top: -5px; right: -12px; display: block; width: 40px; height: 40px; margin: 0; padding: 0; background: url(/images/modal/close.png) 0 0 no-repeat;}
#modalbox-overlay {position: fixed; z-index: 100; top: 0; bottom: 0; left: 0; right: 0; margin: 0; padding: 0; opacity: .6; cursor: pointer; background: #000;}

/* slideshow styles (general) */
.slideshow {width: 100%; height: 588px; padding: 0;}
.slideshow .container {width: auto; height: 588px; position: relative; overflow: visible;}
.slideshow .container > ul {height: 588px; overflow: hidden;}
.slideshow .container > ul > li {display: inline-block; z-index: 3; float: left; width: 100%; height: 588px; background: #000 center center no-repeat; background-size: cover;}
.slideshow .container a.full {position: absolute; z-index: 1; display: block; top: 0; bottom: 0; left: 0; right: 0;}
.slideshow .container a.button {position: absolute; z-index: 3; display: block; width: 206px; height: 31px; padding: 9px 0 0 6px; font-family: 'Roboto Condensed'; font-weight: normal; font-size: 1.1em; color: #edb347; color: #fff; letter-spacing: 0.34em; text-transform: uppercase; text-align: center; text-decoration: none; background: rgba(0,0,0,.1); border: 1px solid #a6c0aa; border: 1px solid rgba(200,200,200,.49);}
.slideshow .container a.button:hover {border: 1px solid rgba(200,200,200,.8);}
.slideshow .container a.button.default {top: 390px; left: 50%; margin: 0 0 0 -106px;}
.slideshow .container a.button.left {top: 390px; right: 50%; margin: 0 10px 0 0;}
.slideshow .container a.button.right {top: 390px; left: 50%; margin: 0 0 0 10px;}
.slideshow .container a.slide-lol {position: absolute; opacity: 0; z-index: 4; top: 45%; margin-top: -70px; width: 72px; height: 140px; text-decoration: none; background: url(/images/home/slide_controls.png) 0 0 no-repeat; transition: opacity .15s;}
.slideshow:hover .container a.slide-lol {opacity: .4;}
.slideshow .container a.slide-lol:hover {opacity: 1;}
.slideshow .container a.back {left: 20px;}
.slideshow .container a.forward {right: 20px; background-position: -129px 0;}
.slideshow .pager {position: absolute; bottom: 68px; z-index: 20; left: 50%; width: 200px; margin-left: -100px; text-align: center;}
.slideshow .pager a {display: inline-block; width: 16px; height: 16px; margin: 0 2px; padding: 0; background: url(/images/home/slide_controls.png) left bottom no-repeat;}
.slideshow .pager a.active {background-position: -24px bottom;}
.slideshow .pager a span {display: none;}
/* per-slide styles */
.slideshow #slide-2 ul.screenshots {position: absolute; z-index: 3; bottom: 110px; width: 100%; list-style: none; text-align: center; margin: 0 auto;}
.slideshow #slide-2 ul.screenshots li {display: inline-block; opacity: .8; background: url(/images/home/screens/thumbs.png) 0 0 no-repeat; transition: opacity .15s;}
.slideshow #slide-2 ul.screenshots li:hover {opacity: 1;}
.slideshow #slide-2 ul.screenshots li a {display: block; width: 230px; height: 155px;}
.slideshow #slide-2 ul.screenshots li span {display: none;}
.slideshow #slide-2 ul.screenshots li.playlist {}
.slideshow #slide-2 ul.screenshots li.code {background-position: -240px 0;}
.slideshow #slide-2 ul.screenshots li.add {background-position: -480px 0;}
.slideshow #slide-2 ul.screenshots li.kofi {background-position: -480px 0;}
.slideshow #slide-2 ul.screenshots li.bookmarks {background-position: -720px 0;}

/* --------------------------------------------------------------------------
 * homepage
 * -------------------------------------------------------------------------- */
.splash > section {width: 100%; min-height: 0; padding: 0;}
.splash > section:nth-child(2n) {background: #fff;}
.splash > section > .content {width: 1001px; margin: 0 auto; padding: 60px 0;}
/*.splash > section h1 {margin: 0 0 0.55em 0; font-size: 1.7em; font-family: 'Roboto Condensed'; font-style: italic; font-weight: 300; text-transform: uppercase; letter-spacing: 0.1em; color: #888;}*/
.splash > section h1 {margin: 0 0 0.55em 0; font-size: 1.7em; color: #888;}
.splash .triplet {display: inline-block; vertical-align: top; width: 27.3%; margin: 0 8.5% 0 0; text-align: left; color: #666;}
.splash .triplet:last-child {margin-right: 0;}
.splash .triplet p {padding: 0;}
.splash .download h1 {margin: 0 0 38px 0; font-family: 'roboto condensed'; font-size: 3em; font-weight: 200; letter-spacing: 0.02em; text-align: center; text-transform: uppercase; font-style: italic; color: #bbb;}
.splash .double {position: relative; float: left; width: 490px; margin: 0 0 0 0; line-height: 0;}
.splash .double:nth-child(2n) {float: right;}
.splash .double a h2 {position: absolute; bottom: 2px; left: 12px; font-size: 48px; font-family: 'Roboto Condensed'; font-weight: 400; color: #ededed; text-transform: uppercase;}
.splash .bullets {margin: 0 0 0 0;}
.splash .download {margin: 0 0 0 0;}
.splash .imgnav {margin: 0 0 0 0;}
.splash .extra {color: #666;}
.splash .extra p {padding: 0; margin: 0;}

/* --------------------------------------------------------------------------
 * downloads/buttons
 * -------------------------------------------------------------------------- */
.download ul.buttons {display: block; list-style: none; margin: 0; padding: 0; text-align: center;}
.download ul.buttons li {display: inline-block; opacity: .85; margin: 0 10px 10px 10px;}
.download ul.buttons li.div {display: none;}
.button a,
.download ul.buttons li a {display: inline-block; min-width: 120px; padding: 4px 24px 2px 8px; background: #79a758; border-radius: 4px; transition: box-shadow .15s;}
.download ul.buttons li:first-child {opacity: 1;}
.button:hover a,
.download ul.buttons li:hover a {box-shadow: 0 0 9px 0 rgba(255,255,255,.35) inset;}
.download ul.buttons li h3 {float: left; margin: 2px 0 0 0; font-size: 1.2em; line-height: 0.95em; color: #fff; text-align: center; white-space: nowrap;}
.download ul.buttons li h3 small {display: block; font-size: .6em; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);}
.download ul.buttons li icon {float: left; margin: 6px 8px 0 0; color: #fff;}
.download ul.buttons li img {float: left; margin: 0px 8px 0 0;}
.download p {padding: 24px 0 0 0; font-size: .9em; line-height: .8em; text-align: center; color: #aaa;}
.download-page {margin: 32px 0;}
.download-page ul.buttons {text-align: left;}
.download-page ul.buttons li {opacity: 1;}
.download-page ul.buttons li.div {display: inline-block; width: 15%; }
.download-page ul.buttons li.div h2 {display: inline-block; vertical-align: bottom; font-size: 1.25em; color: #999;}
.button a {padding: 4px 16px; font-size: 1.2em; color: #fff;}
.button a:hover {text-decoration: none;}

/* --------------------------------------------------------------------------
 * pricing
 * -------------------------------------------------------------------------- */
.pricing {margin: 24px 0 0 0; text-align: center;}
.pricing .update {width: 90%; margin: 0 auto 32px auto; padding: 16px; background: #fff; border-radius: 6px;}
/*.pricing h1 {font-family: 'roboto condensed'; font-size: 3em; font-weight: 200; letter-spacing: 0.02em; text-transform: uppercase; font-style: italic; color: #bbb;}*/
.pricing ul {list-style: none; text-align: left;}
.pricing ul li {display: inline-block; width: 24%; margin: 0 2% 0 0%; padding: 32px 2% 32px 4%; text-align: center; border-left: 1px solid #ddd;}
.pricing ul li:first-child {border-left: 0;}
.pricing ul li h2 {margin: 0 0 6px 0; font-size: 1.8em; color: #666;}
.pricing ul li em {display: block; margin: 0 0 32px 0; color: #888; font-style: normal;}
.pricing ul li p {margin: 0 0 32px 0; padding: 0; font-size: 1.6em;}
.pricing ul li p strong {font-size: 2.0em; font-weight: normal;}

/* --------------------------------------------------------------------------
 * docs
 * -------------------------------------------------------------------------- */
div.toc {float: right; width: 25%; margin: 8px 0 16px 16px; padding: 10px 16px; background: #fff; border-radius: 6px;}
div.toc ul {color: #999; margin-left: 16px; margin-bottom: 0;}
a.toc-anchor {position: absolute; margin-top: -60px;}
.documentation p:first-child {display: inline; padding: 0; margin: 0;}
.documentation .breadcrumb {float: right; margin: 8px 0 0 0;}
.documentation .breadcrumb a {margin: 0 3px;}
.documentation .doc-sec {float: left; width: 41%; margin: 0 24px 24px 0; padding: 16px 2.5% 16px 2.5%; background: #fff; border-radius: 6px;}
.documentation .doc-sec.main {float: none; width: auto; margin: 0 0 16px 0;}
.documentation .doc-sec p {font-size: 13px; color: #777;}
.documentation .doc-sec h3 {font-size: 18px; text-decoration: none; margin: 0; padding: 0;}
.documentation .doc-sec ul {color: #999; margin-left: 16px;}

/* --------------------------------------------------------------------------
 * contact
 * -------------------------------------------------------------------------- */
.contact.documentation {margin-top: 12px;}
.contact.documentation .doc-sec:first-child {margin-left: 22px;}
.news {margin: 32px 0 0 0;}
.news > .blog {float: left; width: 65%; padding: 0 10px;}
.news > .twitter {float: right; width: 25%; padding: 0 10px 0 4.5%; border-left: 1px solid #eee;}
.news h1 {margin: 0 0 .8em -10px;}

