content {color: #555; font-size: 15px;}
body.splash content {font-size: 16px;}
content h1 {margin: 8px 0 16px -6px; padding: 6px 0 0 0; font-size: 24px; color: #555; text-transform: none;}
content h2 {margin: 8px 0 16px 0; padding: 6px 0 0 0; font-size: 18px; color: #555; text-transform: none;}
content h3 {margin: 8px 0 16px 0; padding: 6px 0 0 0; font-size: 17px; text-decoration: underline; color: #555; text-transform: none;}
content ul {margin: 0 0 8px 32px; list-style: disc;}
content ol {margin: 0 0 8px 32px;}
content strong {font-weight: bold;}
content em {font-style: italic;}
content p {margin: 0 0 16px 0;}
content small {font-size: 80%;}
content code {margin: 0 2px; padding: 0 5px; white-space: nowrap; font-family: Consolas, "Liberation Mono", Courier, monospace; background: #f8f8ff; border-radius: 3px;}
/*content pre code {color: #c9bf9f; white-space: pre; background: none;}*/
content pre {margin: 0 0 16px 0;}
content pre code {white-space: pre;}
content em code, strong code {font-style: normal; font-weight: normal;}
content hr {height: 0; margin: 20px auto; background: none; border: 0; border-bottom: 1px solid #ccc;}

/* --------------------------------------------------------------------------
 * News/twitter! LOL
 * -------------------------------------------------------------------------- */
div.twitter {float: right; width: 28%; min-height: 300px; margin: 0 0 16px 48px; padding: 0px;}
div.twitter> h1 {margin: 0 0 6px 0; padding: 0; font-size: 20px;}
div.twitter> h1 small {display: none; font-size: 16px; float: right;}
div.twitter .twitter-timeline {width: 100%; height: 550px;}

/* --------------------------------------------------------------------------
 * callout
 * -------------------------------------------------------------------------- */
.callout {text-align: center; width: 82%; margin: 0 auto 48px auto;}
.callout h1 {font-size: 48px; color: #92b579; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);}
.callout p {font-size: 16px;}
.callout em {display: inline; margin: 0 5px; color: #92b579; font-style: normal; font-weight: bold;}

/* --------------------------------------------------------------------------
 * buttons!
 * -------------------------------------------------------------------------- */
div.button-row {display: block; margin: 0 0 64px 0; text-align: center;}
div.button-row .button {margin: 0 12px 0 66px;}

div.button.huge {
	display: inline-block;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset;
    /*margin-left: 54px;*/
    min-width: 80px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear 0s;
    width: 240px;
	height: 97px;
}
div.button.huge {
	background: #659324; /* Old browsers */
	background: -moz-linear-gradient(top,  #81bc2e 1%, #659324 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#81bc2e), color-stop(100%,#659324)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #81bc2e 1%,#659324 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #81bc2e 1%,#659324 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #81bc2e 1%,#659324 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #81bc2e 1%,#659324 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81bc2e', endColorstr='#659324',GradientType=0 ); /* IE6-9 */
}
div.button.huge a {
	display: block;
	width: 166px;
	height: 108px;
}
div.button.huge.chrome a {
	margin: -4px 0 0 -54px;
	padding: 0 0 0 110px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
	text-decoration: none;
	background: url(/images/chrome-large.png) left center no-repeat;
}
div.button.huge.firefox a {
	margin: -4px 0 0 -54px;
	padding: 0 0 0 110px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
	text-decoration: none;
	background: url(/images/firefox-large.png) left center no-repeat;
}

div.button.huge a h2 {
	margin: 32px 0 0 0;
	padding: 0;
	color: inherit;
	text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: normal;
}
div.button.huge a h2 em {
	display: inline-block;
	margin: 0 0 0 6px;
	font-style: normal;
}
div.button.huge a small {
	display: block;
	margin: 7px 0 0 0;
	color: #204a02;
	font-size: 14px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-align: center;
	text-decoration: none !important;
}

/* --------------------------------------------------------------------------
 * screenshots
 * -------------------------------------------------------------------------- */
.screenshots ul {list-style: none; margin: 0; padding: 0;}
.screenshots ul li {display: inline-block; 239px; margin: 0 8px 12px 0; padding: 0; background: #fff; border: 1px solid #aaa;}
.screenshots ul li:hover {border: 1px solid #222;}
.screenshots ul li a {display: block; line-height: 0;}

/* --------------------------------------------------------------------------
 * docs
 * -------------------------------------------------------------------------- */
div.toc {float: right; width: 25%; margin: 0 0 16px 16px; padding: 10px 16px; background: #fff; border-radius: 6px;}
div.toc ul {color: #999; margin-left: 16px;}
.documentation p:first-child {display: inline; padding: 0; margin: 0;}
.documentation .breadcrumb {float: right; margin: 8px 0 0 0;}
.documentation .doc-sec {float: left; width: 41%; margin: 0 24px 24px 0; padding: 10px 2.5% 16px 2.5%; background: #fff; border-radius: 6px;}
.documentation .doc-sec.main {float: none; width: auto; margin: 0 0 16px 0;}
.documentation .doc-sec p {font-size: 13px; color: #777;}
.documentation .doc-sec h3 {font-size: 18px; text-decoration: none; margin: 0; padding: 0;}
.documentation .doc-sec ul {color: #999; margin-left: 16px;}

