content {color: #555; font-size: 15px;}
body.splash content {font-size: 16px;}
content h1 {margin: 8px 0 16px -6px; padding: 6px 0 0 0; font-size: 24px; color: #555; text-transform: none;}
content h2 {margin: 8px 0 16px 0; padding: 6px 0 0 0; font-size: 18px; color: #555; text-transform: none;}
content ul {margin: 0 0 0 32px; list-style: disc;}
content strong {font-weight: bold;}
content em {font-style: italic;}
content p {margin: 0 0 16px 0;}


/* --------------------------------------------------------------------------
 * buttons!
 * -------------------------------------------------------------------------- */
div.button-row {display: block; margin: 0 0 64px 0; text-align: center;}
div.button-row .button {margin: 0 12px 0 66px;}

div.button.huge {
	display: inline-block;
    border: 0 none;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.2), 0 -1px 0 0 rgba(0, 0, 0, 0.3) inset;
    /*margin-left: 54px;*/
    min-width: 80px;
    padding: 0;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
    transition: all 0.25s linear 0s;
    width: 240px;
	height: 97px;
}
div.button.huge {
	background: #659324; /* Old browsers */
	background: -moz-linear-gradient(top,  #81bc2e 1%, #659324 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#81bc2e), color-stop(100%,#659324)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #81bc2e 1%,#659324 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #81bc2e 1%,#659324 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #81bc2e 1%,#659324 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #81bc2e 1%,#659324 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81bc2e', endColorstr='#659324',GradientType=0 ); /* IE6-9 */
}
div.button.huge a {
	display: block;
	width: 166px;
	height: 108px;
}
div.button.huge.chrome a {
	margin: -4px 0 0 -54px;
	padding: 0 0 0 110px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
	text-decoration: none;
	background: url(/images/chrome-large.png) left center no-repeat;
}
div.button.huge.firefox a {
	margin: -4px 0 0 -54px;
	padding: 0 0 0 110px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    line-height: 20px;
	text-decoration: none;
	background: url(/images/firefox-large.png) left center no-repeat;
}

div.button.huge a h2 {
	margin: 32px 0 0 0;
	padding: 0;
	color: inherit;
	text-align: center;
    font-family: 'Open Sans',sans-serif;
    font-size: 24px;
    font-weight: normal;
}
div.button.huge a h2 em {
	display: inline-block;
	margin: 0 0 0 6px;
	font-style: normal;
}
div.button.huge a small {
	display: block;
	margin: 7px 0 0 0;
	color: #204a02;
	font-size: 14px;
	text-shadow: 0 1px rgba(255, 255, 255, 0.2);
	text-align: center;
	text-decoration: none !important;
}
