<ul class="download clear {{include.class}}">
	<li rel="desktop-windows">
		<a href="/releases/desktop/turtl-windows-{{site.turtl_version}}.zip" title="Windows desktop v{{site.turtl_version}}">
			<img src="/images/site/windows-small.png" width="32" height="32" alt="windows">
			<small>Windows x64</small>
		</a>
	</li>
	<li rel="desktop-osx">
		<a href="/releases/desktop/turtl-osx-{{site.turtl_version}}.zip" title="OSx desktop v{{site.turtl_version}}">
			<img src="/images/site/osx-small.png" width="32" height="32" alt="osx">
			<small>OSx x64</small>
		</a>
	</li>
	<li rel="desktop-linux">
		<a href="/releases/desktop/turtl-linux64-{{site.turtl_version}}.tar.bz2" title="Linux 64-bit desktop v{{site.turtl_version}}">
			<img src="/images/site/linux-small.png" width="32" height="32" alt="linux">
			<small>Linux x64</small>
		</a>
	</li>
	<li rel="desktop-linux">
		<a href="/releases/desktop/turtl-linux32-{{site.turtl_version}}.tar.bz2" title="Linux 32-bit desktop v{{site.turtl_version}}">
			<img src="/images/site/linux-small.png" width="32" height="32" alt="linux">
			<small>Linux x32</small>
		</a>
	</li>
	<li rel="mobile-android">
		<a href="/releases/mobile/turtl-android-{{site.turtl_version}}.apk" title="Android v{{site.turtl_version}}">
			<img src="/images/site/android-small.png" width="32" height="32" alt="android">
			<small>Android</small>
		</a>
	</li>
	<li rel="mobile-ios">
		<span title="iOS v{{site.turtl_version}}">
			<img src="/images/site/ios-small.png" width="32" height="32" alt="ios">
			<small>iOS (Coming soon)</small>
		</span>
	</li>
</ul>

