<div uk-grid class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-4@m download {{include.class}}">
	{% capture link %}https://github.com/turtl/desktop/releases/download/v{{site.releases.desktop}}/turtl-{{site.releases.desktop}}-windows64.msi{% endcapture %}
	{% capture title %}Windows desktop v{{site.releases.desktop}}{% endcapture %}
	{% include single-download.html link=link title=title icon="F17A" text="Windows x64" %}

	{% capture link %}https://github.com/turtl/desktop/releases/download/v{{site.releases.desktop}}/turtl-{{site.releases.desktop}}-osx.zip{% endcapture %}
	{% capture title %}OSx desktop v{{site.releases.desktop}}{% endcapture %}
	{% include single-download.html link=link title=title icon="F179" text="OSx x64" %}

	{% capture link %}https://github.com/turtl/desktop/releases/download/v{{site.releases.desktop}}/turtl-{{site.releases.desktop}}-linux64.tar.bz2{% endcapture %}
	{% capture title %}Linux 64-bit desktop v{{site.releases.desktop}}{% endcapture %}
	{% include single-download.html link=link title=title icon="F17C" text="Linux x64" %}

	{% capture link %}https://github.com/turtl/desktop/releases/download/v{{site.releases.desktop}}/turtl-{{site.releases.desktop}}-linux32.tar.bz2{% endcapture %}
	{% capture title %}Linux 32-bit desktop v{{site.releases.desktop}}{% endcapture %}
	{% include single-download.html link=link title=title icon="F17C" text="Linux x32" %}

	{% capture link %}https://play.google.com/store/apps/details?id=com.lyonbros.turtl{% endcapture %}
	{% capture title %}Android v{{site.releases.desktop}}{% endcapture %}
	{% include single-download.html link=link title=title icon="F17B" text="Android" %}

	{% capture link %}https://github.com/turtl/android/releases/download/v{{site.releases.android}}/turtl-{{site.releases.desktop}}-android.apk{% endcapture %}
	{% capture title %}Android v{{site.releases.android}} (.apk){% endcapture %}
	{% include single-download.html link=link title=title icon="F17B" text="Android (.apk)" %}

	{% capture title %}iOS v{{site.releases.desktop}}{% endcapture %}
	{% include single-download.html disable=1 title=title icon="E840" text="iOS (Coming soon)" %}
</div>

