<div uk-grid class="uk-grid-small uk-child-width-1-2@s uk-child-width-1-4@m download {% if include.hide %}hide{% endif %}">
	{% capture link %}https://chrome.google.com/webstore/detail/turtl/dgcojenhfdjhieoglmiaheihjadlpcml{% endcapture %}
	{% capture title %}Chrome extension v{{site.ext_version}}{% endcapture %}
	{% include single-download.html link=link title=title icon="F268" text="Chrome" %}

	{% capture link %}https://addons.mozilla.org/en-US/firefox/addon/turtl-bookmarking/{% endcapture %}
	{% capture title %}Firefox extension v{{site.ext_version}}{% endcapture %}
	{% include single-download.html link=link title=title icon="F269" text="Firefox" %}
</div>

