<footer class="uk-section uk-section-small uk-section-secondary">
	<div class="uk-container">
		<div class="uk-flex uk-flex-middle uk-flex-between@m uk-flex-wrap">
			<div class="uk-width-1-3@s uk-text-center uk-padding uk-text-left@s">
				<p>Copyright &copy; <a href="https://lyonbros.com/">Lyon Bros. Enterprises, LLC.</a></p>
				<!--
				<small>
					Homepage photo credit:
					<a href="https://unsplash.com/joshuaearle">Joshua Earle</a>
				</small>
				-->
			</div>

			<div class="uk-flex uk-flex-left uk-flex-space-between uk-flex-wrap uk-width-1-3@s">
				<ul class="uk-nav uk-nav-default uk-width-1-2">
					<li><a href="/download">Downloads</a></li>
					<li><a href="/premium">Premium</a></li>
					<li><a href="/docs">Documentation</a></li>
				</ul>
				<ul class="uk-nav uk-nav-default uk-width-1-2">
					<li><a href="/contact">Contact</a></li>
					<li><a href="/privacy">Privacy</a></li>
					<li><a href="/contributing">Contributing</a></li>
					<!--<li><a href="http://turtlapp.tumblr.com/">Blog</a></li>-->
				</ul>
			</div>

			<ul class="uk-iconnav uk-flex-center uk-width-1-3@s uk-padding">
				<li><a title="Twitter" href="https://twitter.com/turtlapp" uk-icon="icon: twitter; ratio: 1.5"></a></li>
				<li><a title="Google+" href="https://plus.google.com/communities/105901682343154191710" uk-icon="icon: google-plus; ratio: 1.5"></a></li>
				<li><a title="Github" href="https://github.com/turtl" uk-icon="icon: github; ratio: 1.5"></a></li>
			</ul>
		</div>
	</div>
</footer>

