<footer>
	<div class="gutter">
		<div>
			<p>Copyright &copy; <a href="https://lyonbros.com/">Lyon Bros. Enterprises, LLC.</a></p>
			<ul>
				<li><a href="https://twitter.com/turtlapp"><icon>&#xE800;</icon></a></li>
				<li><a href="https://plus.google.com/communities/105901682343154191710"><icon>&#xE801;</icon></a></li>
				<li><a href="https://github.com/turtl"><icon>&#xe804;</icon></a></li>
			</ul>
			<small>
				Homepage photo credit:
				<a href="https://unsplash.com/joshuaearle">Joshua Earle</a>
			</small>
		</div>

		<ul class="nav">
			<li><a href="/download">Downloads</a></li>
			<li><a href="/pricing">Pricing</a></li>
			<li><a href="/docs">Documentation</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="https://turtlapp.tumblr.com/">Blog</a></li>
		</ul>
	</div>
</footer>

