<header>
	<div class="gutter">
		<h1>
			<a href="/">
				<img src="/images/logo-beta.png" width="128" height="30">
			</a>
		</h1>
		<ul>
			<li><a href="/download">Download</a></li>
			<li class="highlight"><a href="/premium">Premium</a></li>
			<li><a href="/docs">Docs</a></li>
			<li><a href="/contact">Contact</a></li>
			<li><a href="https://twitter.com/turtlapp"><icon>&#xE800;</icon></a></li>
			<li><a href="https://plus.google.com/communities/105901682343154191710"><icon>&#xE801;</icon></a></li>
		</ul>
	</div>
</header>

