<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
	<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

	<link rel="stylesheet" href="{{ "/css/reset.css" | prepend: site.baseurl | append: '?v=' | append: site.asset_version }}">
	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl | append: '?v=' | append: site.asset_version }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
	<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet" type="text/css">

	<script src="{{ "/js/mootools-core-1.5.2.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/mootools-more-1.5.1.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/composer.js" | prepend: site.baseurl | append: '?v=' | append: site.asset_version }}"></script>
	<script src="{{ "/js/platform.js" | prepend: site.baseurl | append: '?v=' | append: site.asset_version }}"></script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl | append: '?v=' | append: site.asset_version }}"></script>
	<script src="{{ "/js/controller-sig.js" | prepend: site.baseurl | append: '?v=' | append: site.asset_version }}"></script>
</head>
