<h2>Join the mailing list</h2>
<form action="http://turtl.us3.list-manage.com/subscribe/post?u=f67321a76fcbf2bcc9012ff8f&amp;id=c8d97a5c58" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	<input class="uk-input uk-form-width-large" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required>

	<!-- prevents bot signups -->
	<div style="position: absolute; left: -5000px;"><input class="uk-input" type="text" name="b_f67321a76fcbf2bcc9012ff8f_c8d97a5c58" value=""></div>

	<input class="uk-button uk-button-primary" type="submit" value="Join the list">
	<p>
		Stay in the loop on our progress. Get exclusive offers and updates.
		<br>
		<span class="uk-text-meta">Unsubscribe at any time. No spam.</span>
	</p>
</form>

