<div class="splash">
	<div class="app">
		<div class="info">
			<h1>Find your private space</h1>
			<p>
				Turtl lets you take notes, bookmark websites, and store documents
				for sensitive projects. From sharing passwords with your
				coworkers to tracking research on an article you're writing,
				Turtl keeps it all safe from everyone but you and those you
				share with.
			</p>
			{% include download-detect.html hide=true %}
		</div>
		<div class="img">&nbsp;</div>
	</div>
	<div class="more">
		<a href="#next"><icon>&#xe802;</icon></a>
	</div>
</div>

<div class="announcement">
	<h1><a href="/2018/10/turtl-v07-update/">Turtl v0.7 Update &raquo;</a></h1>
</div>

