---
layout: page
---
<div class="blog-post">
	<div uk-grid class="uk-flex uk-flex-between uk-flex-middle uk-child-width-1-2@s uk-margin-bottom">
		<h1 class="uk-text-center uk-text-left@s"><a href="{{ page.permalink }}">{{ page.title }}</a></h1>
		<div class="uk-text-center uk-text-right@s" title="{{ page.date }}">
			{{ page.date | date: '%B %d, %Y' }}
		</div>
	</div>
	{% if page.post_header %}
		<div class="post-header">
			<img src="/images/posts/{{ page.post_header }}">
		</div>
	{% endif %}

	{{content}}
</div>

