.tweet {padding: 12px 0 10px 0 !important;}
.tweet:first-child {padding-top: 0 !important;}
.tweet:last-child {padding-bottom: 0 !important; border-bottom: 0 !important;}
.tweet .header {min-height: 0 !important; padding: 0 !important; display: block;}
.tweet a.permalink {float: right; margin: 0 0 0 8px; color: #79a758;}
.tweet .e-entry-title {clear: none; margin: 0; font-size: 13px; color: #555; overflow: visible; white-space: normal; line-height: 1.6em;}
.tweet .e-entry-title a.link {color: #79a758 !important;}
.tweet .avatar {display: none;}
.tweet .h-card.p-author {display: none;}
.tweet .retweet-credit {margin: 4px 0 0 6px; opacity: .4;}
.tweet .footer {display: none;}
.tweet .tweet-actions {visibility: visible; opacity: .2;}
.tweet:hover .tweet-actions {opacity: .6;}
